<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{admin/fragments :: page_head}"></head>
<body>

<div class="container-fluid">
    <div th:replace="~{admin/navigation :: lougout_form}"></div>

    <nav th:replace="~{admin/navigation :: menu}"></nav>
</div>

<div class="text-center">
    <h1>Welcome to Shopme!</h1>
</div>

<div th:replace="~{admin/fragments :: page_footer}"></div>
</body>
<script th:src="@{/js/logout.js}"></script>
</html>