<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{admin/fragments :: page_head}"></head>
<body>
<div th:replace="~{admin/fragments :: menu}"></div>

<div>
    <h2>User manager</h2>
    <div class="mb-2">
        <a th:href="@{/shopme/admin/categories/new}" class="fas fa-user-plus fa-2x icon-dark mr-4"></a>
<!--        <a th:href="@{/shopme/admin/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-4"></a>-->
    </div>
    <div>
        <table class="table table-responsive-xl table-striped table-bordered">
            <thead class="thead-dark">
            <tr class="text-center">
                <th>Category ID</th>
                <th>Category Image</th>
                <th>Category Name</th>
                <th>Category Alias</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="category, state: ${listCategories}">
                <td th:text="${category.id}"></td>
                <td></td>
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <td>[[${category.enabled ? 'true' : 'false'}]]</td>
                <td>
                    <button>edit</button>
                    <button>delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<head th:replace="~{admin/fragments :: page_footer}"></head>

</body>
</html>