<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{admin/fragments :: page_head}"></head>
<style>
    .thead-dark {
        background-color: #343a40; /* Màu nền tối của Bootstrap */
        color: white; /* Màu chữ trắng */
    }
</style>
<body>
<div th:replace="~{admin/fragments :: menu}"></div>

<div>
    <h2>Category manager</h2>
    <div class="mb-2">
        <a th:href="@{/shopme/admin/categories/new}" class="fas fa-user-plus fa-2x icon-dark mr-4"></a>
<!--        <a th:href="@{/shopme/admin/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-4"></a>-->
    </div>

    <div th:replace="~{admin/fragments :: message}"></div>

    <div>
        <table class="table table-responsive-xl table-striped table-bordered">
            <thead class="thead-dark">
            <tr class="text-center">
                <th>Category ID</th>
                <th>Category Image</th>
                <th>
                    <a class="text-white" th:href="@{'/shopme/admin/categories?sortDir=' + ${revertSortDir}}">Category Name</a>
                    <span th:class="${revertSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                </th>
                <th>Category Alias</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category, state: ${listCategories}">
                <td th:text="${category.id}"></td>
                <td>
                    <img th:src="@{${category.imagePath}}" alt="Image error" style="width: 100px" class="img-fluid">
                </td>
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <td>
                    <a th:if="${category.enabled == true}" th:href="@{'/shopme/admin/categories/' + ${category.id} + '/enabled/false'}" class="fas fa-2x fa-check-circle icon-green" style="text-decoration: none;"
                       title="Disabled this category"
                    ></a>

                    <a th:if="${category.enabled == false}" th:href="@{'/shopme/admin/categories/' + ${category.id} + '/enabled/true'}" class="fas fa-2x fa-check-circle icon-dark" style="text-decoration: none;"
                       title="Enabled this category"
                    ></a>
                </td>
                <td>
                    <a th:href="@{'/shopme/admin/categories/edit/' + ${category.id}}" class="fas fa-edit fa-2x icon-green"
                    title="Update this category"></a>
                    <th:block th:if="${category.hasChildren == false}">
                        <a href="#" class="fas fa-trash fa-2x icon-dark"
                           title="Delete this category"
                           data-toggle="modal"
                           data-target="#deleteModal"
                           th:attr="data-category-id=${category.id}"></a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete customer confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="hidden" id="csrfToken" th:value="${_csrf.token}"/>

            </div>
            <div class="modal-body">
                You sure delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="hidden" id="modalCategoryId"/>
                <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
            </div>
        </div>
    </div>
</div>


<head th:replace="~{admin/fragments :: page_footer}"></head>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function (){
            $('#successMessage').fadeOut();
        }, 3000);

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var categoryId = button.data('category-id');

            $('#confirmDelete').data('category-id', categoryId);
        });

        $('#confirmDelete').on('click', function () {
            var categoryId = $(this).data('category-id');
            console.log(categoryId);

            $.ajax({
                type: 'POST',
                url: '/shopme/admin/categories/delete/' + categoryId,
                headers: {
                    'X-CSRF-TOKEN': $('#csrfToken').val()

                },
                success: function (data) {
                    console.log(data)

                    $('#deleteModal').modal('hide');
                    window.location.reload();
                    $('.message').text(data);
                },
                error: function (error) {
                    console.error('Error deleting user:', error);
                    $('#deleteModal').modal('hide');
                }
            });
        });

    })
</script>
</html>