<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{admin/fragments :: page_head}"></head>
<style>
    .thead-dark {
        background-color: #343a40; /* Màu nền tối của Bootstrap */
        color: white; /* Màu chữ trắng */
    }
</style>
<body>
<div th:replace="~{admin/fragments :: menu}"></div>

<div>
    <h2>Category manager</h2>
    <div class="mb-2">
        <a th:href="@{/shopme/admin/categories/new}" class="fas fa-user-plus fa-2x icon-dark mr-4"></a>
<!--        <a th:href="@{/shopme/admin/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-4"></a>-->
    </div>

    <div th:replace="~{admin/fragments :: message}"></div>

    <div>
        <table class="table table-responsive-xl table-striped table-bordered">
            <thead class="thead-dark">
            <tr class="text-center">
                <th>Category ID</th>
                <th>Category Image</th>
                <th>
                    <a class="text-white" th:href="@{'/shopme/admin/categories?sortDir=' + ${revertSortDir}}">Category Name</a>
                    <span th:class="${revertSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                </th>
                <th>Category Alias</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category, state: ${listCategories}">
                <td th:text="${category.id}"></td>
                <td>
                    <img th:src="@{${category.imagePath}}" alt="Image error" style="width: 100px" class="img-fluid">
                </td>
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <td>[[${category.enabled ? 'true' : 'false'}]]</td>
                <td>
                    <a th:href="@{'/shopme/admin/categories/edit/' + ${category.id}}" class="fas fa-edit fa-2x icon-green"
                    title="Update this category"></a>
                    <button>delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<head th:replace="~{admin/fragments :: page_footer}"></head>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function (){
            $('#successMessage').fadeOut();
        }, 3000);
    })
</script>
</html>